.root { 
    position: relative;
    }
    .headcontent {
    position: absolute;
    top: 40px;
    text-align: center;
    color: #fff;
    width: 100%;
    }
    img {
    width: 100%
    }
    .headcontent h2 {
    font-size: 36px;
    margin-bottom: 20px;
    }